BodyTracking-App-Hatlab/Library/*
BodyTracking-App-Hatlab/Logs/*
BodyTracking-App-Hatlab/obj/*
BodyTracking-App-Hatlab/Temp/*
BodyTracking-App-Hatlab/Builds/*
BodyTracking-App-Hatlab/.vs/*
BodyTracking-App-Hatlab/*.csproj
BodyTracking-App-Hatlab/*.sln
BodyTracking-App-Hatlab/UserSettings/*
BodyTracking-App-Hatlab/MemoryCaptures/*
